.payever-company-container {
    padding: 15px;
    box-shadow: 0 0 5px #ccc;
    display: inline-block;
}

.payever-company-container-edit {
    margin-top: 10px;
    display: block;
}

.payever-company-search {
    position: relative;
}

.company-results {
    margin-top: -12px;
    margin-bottom: 15px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 8px -3px #dbdbdb;
    border: 1px solid #ccc;
    display: none;
}

.company-results .item {
    min-height: 36px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.company-results .item:hover {
    background: #f7f7f7;
}

.company-results .output {
    max-height: 216px;
    overflow-y: scroll;
}

.company-results p {
    margin: 0;
}

.company-results .loader {
    text-align: center;
    background: #f3f3f3;
    justify-content: center;
    display: none;
}

.payever-company-autocomplete {
    border: 1px solid #798490;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 #798490;
    border-radius: 0px 0px 3px 3px;
    border-radius: 0 0 3px 3px;
    overflow-y: auto;
    max-height: 410px;
    display: none;
}

.payever-company-autocomplete-items,
.payever-company-autocomplete-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.payever-company-autocomplete-item-link {
    padding: 10px 28px 10px 10px;
    text-decoration: none;
    color: #2b3136;
    display: block;
    position: relative;
}

.payever-company-autocomplete-item-link:hover {
    text-decoration: none;
    background-color: #798490;
}

.payever-company-autocomplete-item-link-secondary-text {
    color: #0b539b;
}

.payever-company-autocomplete-item-link-count {
    white-space: nowrap;
}

.payever-company-autocomplete-loading {
    text-align: center;
}
