.payever-company-autocomplete-popup {
    display: none;
}

.payever-company-search-popup .modal-inner-wrap {
    border: none;
    background: none;
    box-shadow: none;
    align-items: center;
}

.payever-company-search-popup .modal-inner-wrap > .modal-content {
    padding: 0;
}

.payever-company-search-popup .modal-header {
    display: none;
}

.xmark-icon {
    height: 14.2px;
    width: 14.2px;
    position: relative;
}

.selection-modal-header,
.xmark {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 100%;
}

.xmark {
    flex: 1;
    overflow: hidden;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 0;
}

.xmark svg {
    cursor: pointer;
}

.xmark span {
    flex: auto;
    font-size: 15px;
    line-height: 16px;
    font-weight: 550;
}

.selection-modal-header {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 8px;
}

.payever-mark {
    height: 20px;
    width: 20px;
    position: relative;
    border-radius: 23.25px;
    overflow: hidden;
    flex-shrink: 0;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
}

.payever-mark.selected {
    background: black url(../../img/mark.svg) no-repeat;
    background-position: center;
    border-color: black;
}

.payever-company-title {
    position: relative;
    display: inline-block;
    min-width: 92px;
    letter-spacing: -1px;
}

.payever-company-address {
    position: relative;
    font-size: 10px;
    color: #8e8e8e;
    margin-top: -5px;
}

.payever-company-address-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 3px;
}

.download-buttons,
.download-links,
.download-links-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.download-buttons {
    gap: 12px;
}

.download-buttons .radio-btn {
    display: none;
}

.download-links,
.download-links-wrapper {
    align-self: stretch;
    padding: 10.5px 0;
}

.download-links-wrapper {
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 17px;
    margin-bottom: 5px;
}

.apply {
    position: relative;
    font-size: 15px;
    line-height: 16px;
    font-weight: 550;
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 38px;
}

.apply-options {
    cursor: pointer;
    border: 0;
    padding: 12px 20px;
    background-color: #333;
    align-self: stretch;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.apply-options:disabled {
    background-color: #999999;
    cursor: default;
}

.apply-options:hover:enabled {
    background-color: #595959;
}

.proceed {
    color: #3378f6;
}

.i-did-not-container {
    position: relative;
    line-height: 16px;
    white-space: wrap;
}

.apply-button,
.back-button,
.apply-options1 {
    align-self: stretch;
    display: flex;
}

.back-button,
.apply-options1 {
    border: none;
    border-radius: 8px;
    background-color: #f5f5f7;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    white-space: nowrap;
}

.apply-options:hover,
.back-button:hover,
.apply-options1:hover {
    border: none;
}

.apply-button {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}

.payever-icon {
    width: 100%;
    height: 16px;
    position: relative;
    margin-top: 15px;
    background: url(../../img/payever.svg) center no-repeat;
}

.apply-button-parent {
    color: #000;
}

.payever-company-selection-modal {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    width: 529px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    background-color: #fff;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 25px 30px !important;
    gap: 15px;
    max-width: 100%;
}

.payever-modal-dialog {
    max-width: max-content;
}

.payever-company-autocomplete-items-for-popup {
    display: none;
}

@media screen and (max-width: 547px) {
    .payever-company-selection-modal {
        padding-bottom: 26px;
        box-sizing: border-box;
    }
}

.payever-company-input ul.current-entry {
    list-style-type: none;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
}

.payever-company-input ul.current-entry li.current-entry-item:nth-child(1) {
    border-bottom: 1px solid #e0e0e0;
}

.payever-company-input ul.current-entry li.current-entry-item {
    padding: 11px 17px;
    margin: 0;
}

.payever-company-input ul.current-entry li.current-entry-item div.current-entry-item-label {
    font-size: 10px;
    color: #8e8e8e;
}

.current-company-info-block-header {
    padding: 10px 0 0 0;
}

.original-address-confirmation .download-links-wrapper {
    border: 1px solid #e40000;
}

.new-address-confirmation .download-links-wrapper {
    border: 1px solid #0ba101;
}

.payever-company-selection-modal {
    display: none;
}

.active-dialog {
    display: block;
}

.payever-company-selection-modal p.comment {
    font-size: 10px;
    color: #8e8e8e;
}

.payever-company-selection-modal .apply-button-parent {
    margin-top: 10px;
}
